/**/
/* Style Sheet for Bodhi*/
/* Forked from: https://suckless.org/pub/style.css
 */

/* Colors */
:root {
    --background-primary: #eee;
    --color-primary: #000;
    --color-link: #005386;
    --nav-link-a-hover: #eee;
    --menu-color: #1a9900;
    --menu-background-color: #557515;
    --menu-border-top-color: #ccc;
    --menu-border-bottom-color: #1a9900;
    --menu-a-color: #fff;
    --menu-a-hover-background-color: #1a9900;
    --header-background-color: #eee;
    --header-color: #555;
    --headerlink-color: #109166;
    --main-border-left: rgba(0,0,0,0.1);
    --main-background: #fefefe;
    --table-color: #778087;
    --table-border-color: #ccc;
    --table-tbody-firstchild-color: #333;
    --light-color: #646464;
    --hr-border-color: rgba(0,0,0,0.1);
}

html[data-theme='dark'] {
    --background-primary: rgb(14, 15, 16);
    --color-primary: rgb(232, 230, 227);
    --color-link: rgb(110, 200, 255);
    --nav-link-a-hover: rgb(34, 36, 38);
    --menu-color: rgb(124, 255, 97);
    --menu-background-color: rgb(68, 94, 17);
    --menu-border-top-color: rgb(62, 68, 70);
    --menu-border-bottom-color: rgb(36, 209, 0);
    --menu-a-color: rgb(232, 230, 227);
    --menu-a-hover-background-color: rgb(21, 122, 0);
    --header-background-color: rgb(34, 36, 38);
    --header-color: rgb(178, 172, 162);
    --headerlink-color: #109166;
    --main-border-left: rgba(140, 130, 115, 0.1);
    --main-background: #1e1e1e;
    --table-color: rgb(152, 143, 129);
    --table-border-color: #545b5e;
    --table-tbody-firstchild-color: rgb(62, 68, 70);
    --light-color:rgb(169, 161, 150);
    --hr-border-color: rgba(140, 130, 115, 0.1);
}

/* Design */
html {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--background-primary);
	color: var(--color-primary);
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	height: max-content;
	line-height: 1.6em;
	font-size: 1.1em;
}

.small {
    font-size: 0.9em;
}

pre, code {
	margin: 0;
}

a {
	color: var(--color-link);
	padding: 2px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#header a, #nav a, #menu a {
	text-decoration: none;
}

#nav a:hover {
	background-color: var(--nav-link-a-hover);
}

#menu {
	clear: both;
	overflow: hidden;
	padding: 0.7ex;
	color: var(--menu-color);
	background-color: var(--menu-background-color);
	border-top: 1px solid var(--menu-border-top);
	border-bottom: 1px solid var(--menu-border-bottom-color);
}

#menu a {
	padding: 0.5ex 1ex;
	color: var(--menu-a-color);
}

#menu a:hover {
	background-color: 	var(--menu-a-hover-background-color);
}

#header {
	background-color: var(--header-background-color);
	clear: both;
	color: var(--header-color);
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

#headerLink {
	color: var(--headerlink-color);
	margin-left: 5px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Source Serif Pro", serif;
}

h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.6em;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.5em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.2em;
}

h5 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.1em;
}

h6 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

#headerSubtitle {
	font-size: 0.75em;
	font-style: italic;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
	height: 100%;
    display: flex;
    flex-direction: row;
}

#nav {
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	width: 20%;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#main {
	min-height: 100%;
	margin: 0 0 0 10px;
    max-width: 600px;
	padding: 1.5em;
	padding-top: 0em;
	border-left: 1px solid var(--main-border-left);
    background: var(--main-background);
    height: max-content;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

div.avatar {
	height: 32px;
	float: left;
}

.avatar img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

table {
    width:100%;
    border-collapse:collapse;
    margin:1.75rem 0;
    color: var(--table-color);
}
table td,
table th {
    vertical-align:top;
    border:1px solid var(--table-border-color);
    padding:10px
}
table thead th {
    font-size:0.8em;
}
table tbody td:first-child {
    font-weight:700;
    color:var(--table-tbody-firstchild-color);
}

pre {
	margin-bottom: 0;
	margin-top: 0;
	padding: 20px;
    overflow-x: auto;
}

.light {
	color: var(--light-color);
}

#pagination {
	margin-top: 1em;
}

#footer {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: auto;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid var(--hr-border-color);
}

img {
    max-width: 100%;
}

.i-search {
	margin-left: 5px;
}

.feather {
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	vertical-align: -0.125em;
}

@media only screen and (max-width:632px) {
    #content {
        flex-direction: column;
    }

    #main {
        border-left: 0px solid rgba(0, 0, 0, 0.1);
        padding: 0.5em;
    }

    #nav {
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .right {
        float: left;
    }
}
