{{ define "main" }}
		<article>
			<h1>{{ .Title }}</h1> 
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
			{{ with .Site.Params.CommentoSrc }}
			<div>
				{{ partial "commento.html" . }}
			</div>
			{{ end }}
		</article>
{{ end }}
