<div id="menu">
	{{ $currentPage := . }}
	{{ range .Site.Menus.main_left }}
	{{if eq $currentPage.URL .URL }}<b>{{end}}
	<a href="{{ .URL }}">{{ .Name }}</a>
	{{if eq $currentPage.URL .URL }}</b>{{end}}
	{{ end }}
	<span class="right">
		{{ range .Site.Menus.main_right }}
		{{if eq $currentPage.URL .URL }}<b>{{end}}
			<a href="{{ .URL }}">{{ .Name }}</a>
		{{if eq $currentPage.URL .URL }}</b>{{end}}
	{{ end }}
	{{if eq $currentPage.URL "/search/" }}<b>{{end}}
	<a href="/search">search <svg aria-hidden="true" class="i-search" viewBox="0 0 32 32" width="10" height="10" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"><circle cx="14" cy="14" r="12"></circle><path d="M23 23l7 7"></path></svg></a>	
	{{if eq $currentPage.URL "/search/" }}</b>{{end}}
	</span>
</div>
